{% extends 'Cohome/base.html' %}

{% block content %}
<div class="container">
    <h2>User Profile</h2>
    {% if profile %}
    <p>Username: {{ request.user.username }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>Full Name: {{ profile.full_name }}</p>
    {% if profile.bank_account_number %}
    <p>Bank Account Number: {{ profile.bank_account_number }}</p>
    {% endif %}
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    {% else %}
    <p>No profile information available.</p>
    {% endif %}
</div>
{% endblock %}